@import url("./assets/Webfonts/css/fontiran.css");
body {
  font-family: dana !important;
  
}
.main {
  margin-right: 110px;
  font-family: dana !important;
}

@media screen and (max-width: 1024px) {
  .main {
    margin-right: 0;
  }
}

